dropbox==11.36.2
gitdb==4.0.12
GitPython==3.1.44
matplotlib-inline==0.1.7
numpy==1.26.4
openpyxl==3.1.5
pandas==2.2.3
streamlit==1.43.2
setuptools # este paquete setuptools no está instalado automáticamente en Streamlit Cloud y es necesario para que la librería dropbox funcione correctamente.
